#store {
  padding: 0;
  .jumbotron {
    margin: 0;
    background-image: url("https://previews.123rf.com/images/epicstockmedia/epicstockmedia1511/epicstockmedia151100083/48345335-happy-father-and-son-having-fun-playing-soccer-on-the-beach-at-sunset.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    background-color: @color-1;
    color: white;
    border-radius: 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px @shadow;
  }
  .store-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    background-color: whitesmoke;
    padding: 0;
    a {
      width: 100%;
      button {
        border-radius: 0;
        border: none;
        padding: 5rem 0;
      }
    }
  }
  #shop-by-brands {
    background-color: @color-2;
  }
  #shop-by-categories {
    background-color: @color-3;
  }
  #shop-by-merchants {
    background-color: @color-4;
  }
  #shop-all-products {
    background-color: @color-5;
  }
}
