#products-page {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh 60vh;
  @media @phones {
		grid-template-rows: auto;
	}
  #products-head {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  #products-body {
    grid-column: 1 / 2;
    grid-row: 2;
  }
}
