#products-page {
  padding: 0;
  .nav-header {
    background-image: url("images/banner.jpg");
  }
}

#products-all {
  min-height: 56vh;
}

#products-one {
  #back-to-all-products {
    background-color: lightgray;
    div {
      padding: 1rem;
      svg {
        margin-right: 0.5rem;
      }
    }
  }
  #product-show {
    margin-top: 10rem;
    h1 {
      color: @color-1;
    }
    h4, h6 {
      cursor: pointer
    }
    h6 {
      color: @color-1;
      margin-top: 0.33rem;
    }
    @media @phones {
      margin-top: 1rem;
    }
    #product-image {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      @media @phones {
        padding: 1rem 0 0 0;
      }
    }
    #product-desc {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 0 0 2rem;
      p {
        margin: 0;
      }
      #merchant-name {
        display: inline;
        margin-top: 1rem;
        span {
          display: inline;
          color: @color-1;
          font-weight: 500;
          cursor: pointer;
        }
      }
      @media @phones {
        padding: 1rem 0;
      }
    }
  }
  th, td {
    text-align: center;
  }
  #product-buttons {
    padding: 1rem 0 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media @phones {
      padding: 0 0 1rem 0;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      label, select {
        margin: 0 1rem 0 0;
        display: inline-block;
        text-align: right;
      }
      select {
        width: 4rem;
      }
      svg {
        margin-right: 0.5rem;
      }
    }
  }
}
