#admin-page {
  min-width: 100vw;
  min-height: 100vh;
  .row {
  }
  .col {
    padding: 0;
  }
  .jumbotron {
    margin: 0;
    padding: 10rem 2rem;
    background-image: url("images/banner1.jpg");
    background-position: center;
    background-size: cover;
    color: white;
  }
  #details {
    height: 100vh;
    margin: 2rem;
    h2 {
      margin: 0 0 2rem 0;
    }
    .nav {
      background-color: whitesmoke;
    }
    .nav-tabs {
      border: none;
      .nav-items {
        margin: 0;
      }
      .nav-link {
        border: none;
      }
    }
    .tab-label {
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      border-radius: 0;
      &:hover {
        border: none;
        background-color: white;
      }
      .active {
        background-color: whitesmoke;
      }
      .badge {
        margin-left: 1rem;
      }
    }
    .tab-content {
      margin: 2rem 0;
      // padding: 2rem;
      // background-color: whitesmoke;
      h4 {
        margin: 0 1rem;
      }
      table {
        th, td {
          text-align: center;
        }
      }
    }
    .collapse-doc {
      margin: 1rem 0 0 0;
      .collapse-head {
        cursor: pointer;
        background-color: lightgray;
        section {
          padding: 1rem;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h6 {
              margin: 0;
            }
            p {
              margin: 0;
              .updatedBadge {
                color: gray;
                font-style: italic;
              }
            }
          }
        }
      }
      .collapse {
        section {
          margin: 1rem 0 0 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
          div {
            flex-shrink: 0;
            padding: 1rem;
            max-width: 100%;
            margin-right: 1rem;
            margin-bottom: 1rem;
            background-color: whitesmoke;
            cursor: pointer;
            &:last-child {
              margin-right: 0;
              margin-bottom: 0;
            }
            &:hover {
              background-color: lightgray;
              p {
                color: initial;
              }
            }
            p {
              color: gray;
              width: 50%;
              margin: 0;
            }
            h6 {
              margin-top: 0.5rem;
            }
          }
          .product-quantities {
            table {
              margin-top: 0.5rem;
              thead {
                th {
                  padding: 0.25rem;
                  border: none;
                }
              }
              tbody {
                tr {
                  td {
                    border: none;
                    padding: 0.25rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    #orders {

    }
  }
}
