.nav-header {
  background-color: @color-1;
  // background-image: url("https://previews.123rf.com/images/aboikis/aboikis1602/aboikis160200272/52157536-clothes-and-men-s-accessories-on-brown-wood-background.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  .jumbotron {
    background: none;
    text-shadow: 2px 2px 4px rgb(100, 100 ,100);
    color: white;
    height: 33vh;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
}
