.cart-page {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cart-table-title {
  display: flex;
  padding: 1.5rem;
  justify-content: center;
}

.go-to-payment {
  display: flex;
  padding-top: 2rem;
  justify-content: space-around;
  
  .go-to-payment.btn {
  display: flex;
  padding-top: 2rem;
  width: 60%;
  max-height: 50px; 
}

}
