@smartphones: ~"only screen and (max-width: 479px)";

.cart-page {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  padding-left: 35%;
  @media @smartphones {
    padding-left: 0%;
  }
}

.cart-table {
  font-size: 14px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.cart-total {
  background-color: #e4e1e1;
}

.total-number {
  text-align: right;
}