header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .back-button {
    border: none;
    background: transparent;
    padding: 0;
    width: 0;
  }


// this style position shopping cart icon, register and login to the right 
  
  .shopping-cart {
    right: 100px;
    position: absolute;
    border: none;
    background: transparent;
    padding: 0;
    width: 0;
  }

  .login {
    right: 120px;
    position: absolute;
    border: none;
    background: transparent;
    padding: 0;
  }

  .register {
    right: 180px;
    position: absolute;
    border: none;
    background: transparent;
    padding: 0;
  }

  .logout {
    color: red;
    right: 120px;
    position: absolute;
    border: none;
    background: transparent;
    padding: 0;
  }

  .cart:hover{
    transform: scale(1.1, 1.1); /** default is 1, scale it to 1.5 */
    opacity: 0.7;
  }


  .login:hover{
    transform: scale(1.1, 1.1); /** default is 1, scale it to 1.5 */
    opacity: 0.7;
  }

  .register:hover{
    transform: scale(1.1, 1.1); /** default is 1, scale it to 1.5 */
    opacity: 0.7;
  }

  .logout:hover{
    transform: scale(1.1, 1.1); /** default is 1, scale it to 1.5 */
    opacity: 0.7;
  }

  h1 {
    font-size: 1.5rem;
    height: @header-height;
    display: flex;
    align-items: center;
    margin: 0;
  }



}