.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  
  .title {
    padding-bottom: 1rem;
    text-align: center;
  }

  .login {
    width: 25rem;
    height: 15vh;
    margin-top: 30px;
    
    label, input {
      flex-grow: 1;
    }
    input {
      width: 65%;
      margin: 7px 0;
    }
    label {
      width: 35%;
    }
  }

  .login-buttons {
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: center;

    .login-btn {
      margin:15px 10px;
      flex-grow: 1;
    }

    h5 {
      text-align: center;
    }
  }
}
