.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  background-color: @color-page-background;
  font-family: @bonsai-font;
  color: @bonsai-dark-grey;

  main {
    max-width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  footer{
    display: flex;
    min-height: @footer-height;
    box-shadow: 0.05rem 0 0.5rem rgba(0, 0, 0, 0.075);
    background-color: white;
  }

}
