// Core
@color-button-background: #0068ff;
@color-page-background: #ffffff;

@header-height: 6rem;
@footer-height: 3rem;

// Global Fonts
@bonsai-dark-grey: #333333;
@bonsai-font: 'Roboto', sans-serif;
@bonsai-theme-main-color: #a5c3ff;
@bonsai-theme-primary-color : #ffffff;
@bonsai-theme-secondary-color : #07ffd5;
@bonsai-theme-alert-color: #ff00d1;
