.product {
  border-left: #333333 double .35rem;
  border-bottom: #333333 double .35rem;
  margin: 5rem 1.5rem 0 1.5rem !important;
  .product-img {
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
  }
  .buttons {
    width: 100%;
    padding: 0 3rem 1.5rem 3rem;
    font-size: 1rem;
    .buy-button {
      z-index: 15;
      position: absolute;
      left: 1rem;
      bottom: .75rem;
      color: #ce63ff;
      cursor: pointer;
    }
    .info-button {
      position: absolute;
      z-index: 15;
      right: 1rem;
      bottom: .75rem;
      color: @bonsai-theme-main-color;
      cursor: pointer;
    }
    .info-button:hover{
      zoom: 150%;
      color: @bonsai-theme-secondary-color;
    }
    .buy-button:hover {
      zoom: 150%;
      color: #20ff40;
    }
    .product-name {
      z-index: 10;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      bottom: .75rem;
      align-self: center;
      cursor: pointer;
    }
    .product-name:hover{
      zoom: 110%;
      color: @bonsai-theme-secondary-color;
    }
  }
}
