@darkGrey: #333333;
@mediumGrey: #818b95;
@lightGrey: #cad0d3;
@lighterGrey: #FAFAFA;
@blue: #0062FF;

.bold18 {
  font-weight: 500;
  font-size: 18px;
}

.returns-page {
}

.terms-and-conditions-button {
  padding: 15px 20px;
  background: @blue;
  color: white;
  font-size: 18px;
}

.float-right {
  float: right;
}
