.shop-page {
  margin-left: 0 !important;
  margin-right: 0 !important;
  .filter-key {
    div {
      width: 100%;
      padding: 5rem 7rem 0 7rem;
    }
  }

  @media only screen and (max-width: 500px) {
    .filter-key {
      div {
        width: 100%;
        padding: 1rem 1rem 0 1rem ;
      }
    }
  }
}