.shop-page {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &-counter {
    padding: 0 20px;
  }
}

.filters {
  text-align: center;
  margin-bottom: 15px;

  &-form {
    justify-content: center;
  }
}