.modal {
  text-align: center;
  border-radius: 50px;
}

.support-modal-icon {
  background: #fafafa;
  padding: 50px 50px;
  border-bottom: 1px solid @lightGrey;
  margin-bottom: 25px;
}

.support-modal-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.support-modal-text {
  color: @mediumGrey;
  margin: 0 auto;
  max-width: 75%;
  margin-bottom: 35px;
}

.support-modal-button-primary {
  border-radius: 50px;
  border-style: none;
  padding: 15px 70px;
  margin-bottom: 20px;
  background: @blue;
  color: white;
  cursor: pointer;
}

.support-modal-button-primary:hover {
  animation: hvr-wobble-vertical 1.5s infinite;
}

.support-modal-button-secondary {
  border-style: none;
  background: none;
  color: @lightGrey;
  margin-bottom: 30px;
  cursor: pointer;
}

.support-modal-button-secondary:hover {
  color: @mediumGrey;
}

// Animation borrowed from: https://github.com/IanLunn/Hover/blob/master/css/hover.css
// Credit to: Ian Lunn
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
