#cart-page {
  padding: 0;
  .nav-header {
    background-image: url("images/banner2.jpg");
  }
  #cart-intro {
    padding: 2rem 0;
    h2 {
      margin-bottom: 1rem;
      svg {
        margin-right: 1rem;
      }
    }
    p {
      margin-bottom: 0;
    }
    @media @phones {
      padding: 1rem;
    }
  }
  #cart-items {
    padding: 0;
  }
}
