#store {
  padding: 0;
  .jumbotron {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/banner1.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    background-color: @color-1;
    img, button {
      width: 50%;
    }
    button {
      margin-top: 2rem;
    }
  }
  .store-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    background-color: whitesmoke;
    padding: 0;
    a {
      width: 100%;
      button {
        border-radius: 0;
        border: none;
        padding: 5rem 0;
      }
    }
  }
}
